.navbar {
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;           
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
    opacity: 1 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
    opacity: 1 !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
 background-color: red !important;
}

.navbar-fixed-top{
    position: absolute;
}



ul{
    list-style: none;
}
#myCarousel .carousel-inner .item img:nth-child(1){display: block;}
#myCarousel .carousel-inner .item img:nth-child(2){display: none;}

.carousel-caption{
    position: absolute;
    left:30px;           
    text-align: left;            
}
#bestKia h3{
    font-size: 50px;
}
#bestKia .box{
    border:1px solid #dddddd;
    border-radius: 10px;
    padding: 20px;
}
#bestKia .nav-tabs{
    margin-bottom: 50px;
}
#bestKia .nav-tabs li.active a{           
    border-radius: 0;
    border:none;
    border-bottom: 1px solid black;
}
#bestKia .box .col-sm-8,#bestKia .box .price{
    text-align: right;
}
#bestKia .box .btn{
    border-radius: 0;
}
.btn-black{
    background: black;
    color:white;
}
.btn-black:hover{
    background-color: rgb(130, 129, 129);
    color:#dddddd
}
#bestKia .btn-box{
    text-align: center;
}
.sort{
    text-align: center;
    padding: 20px;
}
#etc .box{
    padding: 15px;
    background: #eeeeee;
}
#etc .box img{
    width:25px;
}
#etc .box h3{
    font-size: 17px;
    font-weight: bold;
}
#etc .box img:nth-child(1){display: inline;}
#etc .box img:nth-child(2){display: none;}
#news .col-sm-6{
    float:right;
    height: 450px;
}
#news .col-sm-6:nth-child(2){
    background: #697278;
}
#news .col-sm-4{
    padding-top: 50px;
    padding-bottom: 150px;;
}
#footer1{
    background: #05141F;
}
#footer1 .col-sm-6 ul{
    position: absolute;
    right:0;
}
#footer1 .col-sm-6 li{
    display: inline;
}
#footer1 .col-sm-6 li a{
    display: inline-block;
    padding: 10px;
}

#footer2{
    background: #010E18;
}
#footer2 .col-sm-6{
    float: right;
}
#collapse{
    display: none;
}





@media screen and (max-width:767px) {
    #myCarousel .carousel-inner .item img:nth-child(1){display: none;}
    #myCarousel .carousel-inner .item img:nth-child(2){display: block;}

    #news .col-sm-6{
        padding: 0;
    }
    #news .col-sm-6 img{
        width:100% !important;
    }

    #news .col-sm-6:nth-child(1){                                
        height: 250px;              
    }
    #news .col-sm-6:nth-child(2){                                
        height: 200px;   
    }
    #news .col-sm-4{
        padding-top: 30px;
        padding-bottom: 30px;;
    }           
    #footer1 .col-sm-6{
        display: none;
    }
    #footer1 .col-sm-3:nth-child(2){
        display: none;
    }
    #footer2, #footer2 .container{               
        padding:0 !important;
        margin: 0 !important;
    }
    #accordion,#accordion .panel,#accordion .panel-heading{
        background-color: #010E18;              
        border-radius: 0 !important;
    }
    #collapse{
        display: block;
    }
    #collapse .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    #collapse .active,#collapse .collapsible:hover {
        background-color: #555;
    }

    #collapse .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    #collapse .active:after {
        content: "\2212";
    }

    #collapse .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
    }
    #footer2 .container .row:nth-of-type(3){
        display:none !important;
    }
}